<div class ="image">
    <img src="/images/beer.png" alt = "Bier!" height="350" width="350"></div>
</div>
    
    
<div class ="button-index">
    <a href="/beers"><button>Check the Beers!</button></a>
    <a href="/random-beers"><button>Check a random Beer!</button></a>
</div>



</div>